.investors {
  color: black !important;

  & > *:not(:last-child) {
    margin-bottom: $margin-bottom-l;
  }
}

.heading {
  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: max-content max-content;
  align-items: center;
  grid-auto-flow: row;
  grid-auto-rows: max-content;

  @include respond(max-width-phones-480) {
    grid-template-columns: 1fr;
  }
  @include respond(min-width-phones-480) {
    grid-template-columns: 1fr max-content;
  }

  & h1 {
    margin: 0 0 1rem;
    font-weight: 900;
  }

  & .mail_btn {
    @include respond(max-width-phones-480) {
      margin-top: 1rem;
      grid-column: 1 / span 1;
      grid-row: 3 / span 1;
    }

    @include respond(min-width-phones-480) {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
    }
  }

  & > a {
    grid-column: 2 / span 1;
    grid-row: 1 / -1;
    align-self: end;
    padding: 1rem 1.6rem;
    border-radius: 0.8rem;
    border: 1px solid $color-primary--600;
    color: $color-primary--600;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
}

.search_form {
  background-color: white;
  border-radius: 1.2rem;
  padding: 1.6rem;
  display: grid;
  grid-auto-flow: row;
  grid-auto-rows: max-content;
  column-gap: 1.5rem;
  align-items: center;
  row-gap: 2rem;

  @include respond(max-width-phones-480) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  @include respond(min-width-480-max-width-850) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
  }
  @include respond(min-width-tablet-850) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.5rem;
  }

  & .filter_cta {
    align-self: end;
    background-color: transparent;
    color: $color-primary--600;
    padding: 0;
  }
}

.acct_search_form {
  @include respond(max-width-phones-480) {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  @include respond(min-width-480-max-width-850) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    column-gap: 1rem;
  }
  @include respond(min-width-tablet-850) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 1.5rem;
  }
}

.list {
  min-height: 15rem;
  width: 100%;
  // overflow-x: auto;
  // overflow-y: visible;
  background-color: white;
  border-radius: 0.8rem;
  padding: 3rem 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  & h2 {
    margin: 0;
    color: black;
  }

  & .img_container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;

    & .avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 3.5rem;
      height: 3.5rem;
      position: relative;
      display: inline-block;
      background-color: $secondary-bg-50;
      color: $secondary-default--600;
    }

    & .text_avatar {
      border-radius: 50%;
      overflow: hidden;
      width: 3.5rem;
      height: 3.5rem;
      background-color: $secondary-bg-50;
      color: $secondary-default--600;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  & .loader_container {
    min-width: 3rem;
  }
}

.dropdown {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  position: relative;
  height: 100%;
  cursor: pointer;

  & .action_investor {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    border: none;
    background-color: transparent;
    position: relative;

    & svg {
      font-size: 1.8rem;
    }

    &:hover:not(.active_investor) {
      background-color: $secondary-bg-50;
    }
  }

  & .active_investor {
    background-color: $secondary-bg-50;
  }

  & .dropdown_list {
    position: absolute;

    margin: 0;
    padding: 0rem 0;
    list-style-type: none;
    border-radius: 0.8rem;
    min-width: 24rem;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.12);
    z-index: 20000;

    & .dropdown_listitem {
      padding: 0.4rem 0;

      & .heading {
        display: flex;
        flex-direction: column;
      }

      & .listItem_control {
        padding: 1.2rem 1.3rem;
        display: grid;
        grid-template-columns: max-content 1fr;
        justify-items: left;
        gap: 1.2rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width: 100%;

        &:hover {
          background-color: $Primary-bg--25;
        }
      }

      & .red {
        color: $error-500;
      }
    }

    & li:not(:last-of-type) {
      border-bottom: 0.1rem solid $outline-100;
    }
  }

  & .drop_below {
    top: 150%;
  }

  & .drop_above {
    bottom: 170%;
  }
}

.status {
  color: white;

  & span {
    border-radius: 2.8rem;
    padding: 0 0.9rem;
    height: 2.3rem;
    width: max-content;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  & .active {
    color: white;
    background-color: $success--600;
  }

  & .inactive {
    color: white;
    background-color: $error-500;
  }
}

.approvalStatus {
  color: white;

  & span {
    border-radius: 2.8rem;
    padding: 0 0.9rem;
    height: 2.3rem;
    width: max-content;
    display: flex;
    align-items: center;
    text-transform: capitalize;
  }

  & .approved {
    background-color: $success--600;
  }

  & .declined {
    background-color: $error-500;
  }

  & .pending {
    background-color: $warning--500;
  }
}

.acct_review_cta {
  height: 100%;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
